/* tell every element on the page to have no margin or padding unless explicitly told. this is to remove browswer default styling  */
/* * is an universal selector */
*{
    margin: 0;
    padding: 0;
}
/* start off CSCS with a few styles that apply to the whole page. */
body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: tomato;
    color:#39a6b2;
}
/* apply style to <header>, which is a child element to <body> */
header{
    /* padding is a kind of spacing around its contents. i.e. arould all text it contains.  */
    /* apply 20px to top and bottom then 35px to left and right */
    padding: 20px 35px;
    background-color: #39a6b2;
}
/* implementing a more specific selector pattern. ensuring only the <h1> element inside the <header> gets this style. */
header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin:0;
    /* add inline property so <h1> does not take up more space than needs to  */
    display: inline;
}
header a{
    /* text-decoration applies underline, strikethrough and overline and by default is it none. however with <a> elements, however, the browser automatically applies a blue color and an underline, and we don't want the links to look like that.*/
    text-decoration: none;
    color:#fce138;
}
/* the float property takes an element that occupy 100% of its parent width by defualt (aka blcok element) and pushes everything that follows below it. */
header nav {
    float: right;
    margin: 7px 0;
}
/* to make the navigation bar links line up horizotally, changes display from block to inline */
header nav ul li{
    display: inline;
}
/* now give styles to <a> element only under <nav><ul><li> */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}